.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 16px;
  margin: 16px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  flex: 1;
  margin: 16px;
  gap: 8px;
  align-items: center;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-side {
  display: flex;
  flex: 1;
  justify-content: center;
}

.right-side {
  display: flex;
  flex: 1;
  justify-content: center;
}

.left-links {
  display: flex;
  flex: 1;
  justify-content: left;
}

.right-links {
  display: flex;
  flex: 1;
  justify-content: right;
}